/*******
 * general
 *******/

body {
	//margin: 40px;
	//background-image:url(logo.jpg);
    background-repeat:no-repeat;
    background-position:center;
	//font-family: arial, sans-serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #5B5A55;
}

#content {
    width:100%;
    height:100%;
    vertical-align:middle;
    text-align: center;
    //display: none;
}

#name {
	font-size: 1.1em;
	margin-bottom: 10px;
}

#whatiam {
	margin-bottom: 5px;
}

#whatido {
	color: #EE6848;
	margin: 25px;
	font-style: italic;
}

header {
  width:100%;
	min-height: 10em;
	margin-top: 10px;
	display: block;
	vertical-align: middle;
}

header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

#links { display: none; }

article  {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 800px;
	margin-left:auto;
	margin-right: auto;
	border: thin solid ;//#fb710c;
	border-radius: 10px;
	//background-color: #e3e3e3;
	color: #8c8c8c;
}

article h1 {
	color: #fb710c;
}

footer {
    position: relative;
    margin: 6rem 0 0 0;
    padding: 4rem 0;
    /*border-top: #666666 1px solid;*/
    //font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.7em;
    color: #EE6848;
    text-align: center;
    //background: #efefef;
}

a, a:visited {
	text-decoration: none;
	color: #EE6848;
}

a:hover {
	text-decoration: underline;
}
/*******
 * class definition
 *******/

/* The logo in the header */
.logo {
    width: 128px;
    height: 128px;
    text-align: center;
    line-height: 2.4rem;
    border-radius: 75px;
    background: #000000;
    transition: box-shadow 0.5s;
	background-image:url(logo.jpg);
}

/* the menu */
ul.menu {
	/*position:absolute;*/
	padding: 0px 0px 0px 0px;
	float:none;
	clear:none;
	width: 100%;
	height:64px;
	line-height: 64px;
	list-style: none;
	top: -55px;
	text-align: center;
}

.menu li {
	display:inline;
	margin:0 2px;
	list-style-type:none;
}

/* The menu item icon on the footer */
.menu-item, .menu-item img {
	display: inline-block;
	width:64px;
	height:64px;
	outline:none;
	border-radius: 50px;
	position: relative;
}

/* Add a box shadow to menu item on hover */
.menu-item:hover{
	overflow: visible;
    box-shadow: rgba(0,0,0,0.15) 0 0 0 3px;
    transition: box-shadow 0.25s;
}

/* menu item blog icon */
.menu-blog {
	background: #EE6848;
}

/* menu item linkedin icon */
.menu-linkedin {
	background: #0e76a8;
}

/* menu item linkedin icon */
.menu-twitter {
	background: #00acee;
}

/* menu item linkedin icon */
.menu-stackoverflow {
  background: #777;
}

/* menu item linkedin icon */
.menu-github {
  background: #171515;
}

/* CSS tooltip - initially hidden */
.tooltip {
	opacity: 0;
	width: 100px;
	height: auto;
	line-height: 20px;
	padding: 5px;
	left: 50%;
	margin-left: -55px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-align:center;
	background: #8c8c8c;
	text-indent: 0px;
	border-radius: 50px;
	position: absolute;
	bottom: -15px;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* The little chiclet arrow above the tooltip, pointing up */
.tooltip:after {
	content: '';
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left:-10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #8c8c8c;
}

/* On hover, show the tooltip! */
.menu-item:hover .tooltip {
	opacity: 1;
	bottom: -40px;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.identity {
    //position: absolute;
    //width: 80%;
    max-width: 700px;
    margin: 0 auto;
	padding-top:5px;
    font-size: 1rem;
    line-height: 1em;
    color: #666666;
	text-align: center;
}
